/* some font sizes */
$fs:16; //Base font-size

$header: 75; //header height
$bottomLine: 10; //deco line
$sitePadding: 20;
$footerMenu: 60;

$menuBreak: 1023;

/* text colors */
$links: #009374;
$almostBlack: #1A161B;
$numbers: #F9f8f7;
//$numbers: #0f0;
$label: #333;

/* doh */
$black: #000;
$white: #fff;

/* font-weight */
$bolder: 900;
$bold: 700;
$medium: 500;
$light: 300;

/* bg */
$headerBG: #BEF4DE;
$footerBG: #464646;
$join_greenBG: #aada73;
$join_greenBottomBG: #97c75d;
$join_blueBG: #5fbbed;
$join_blueBottomBG: #37aae9;

/* lines */
$headerLine: #009374;
$formBorder: #d7d7d7;
$borderLine: #ececec;

/* degrades */

/* animations */
$open: 500ms;
$close: $open / 2;
$easing: cubic-bezier(.08, .74, .39, .97);