<% include partials/head-plain.ejs %>
<div class="site">
<% include partials/header.ejs %>

  <div class="grid global-scores">

  <% games.forEach((game, index) => { %>
    <div class="col-4">
      <div class="global-title"><%= game.company %></div>
      <div class="global-score"><%= game.totalPoints %></div>
    </div>
  <% }) %>

  </div>
<% include partials/script.ejs %>