<% include partials/head.ejs %>
<div class="site">
<% include partials/header.ejs %>

<% games.forEach((game, index) => { %>
  <p><%= game.company %></p>
  <p><%= game.totalPoints %></p>
<% }) %>

</div>
<% include partials/script.ejs %>