.block {
  margin-top: (30em/$fs);

  .block-header {
    text-align: center;
    position: relative;
    color: $black;
    margin-bottom: (60em/$fs);

    &:before {
      height: (2em/$fs);
      width: (85em/$fs);
      content: "";
      position: absolute;
      bottom: (-25em/$fs);
      left: 0;
      right: 0;
      margin: 0 auto;
      background: $black;
    }
  }

  .block-header-small,
  .block-header-big {
    display: block;
    line-height: 1em;
  }

  .block-header-small {
    $tfs: 32;
    font-size: #{$tfs/$fs}em;
    text-transform: uppercase;
    font-weight: $bolder;
  }

  .block-header-big {
    $tfs: 70;
    font-size: #{$tfs/$fs}em;
    font-weight: $light;
    margin-top: (8em/$tfs);
  }
}

.block-join-content {
  max-width: (620em/$fs);
  margin: (40em/$fs) auto 0 auto;
  padding: (20em/$fs) (20em/$fs) (40em/$fs) (20em/$fs);
  border-radius: 0 0 (20em/$fs) (20em/$fs);
  border-bottom: solid (3em/$fs);

  &.verde {
    background: $join_greenBG;
    border-bottom-color: $join_greenBottomBG;
  }

  &.azul {
    background: $join_blueBG;
    border-bottom-color: $join_blueBottomBG;
  }
}

.block-join-video {
  margin-bottom: (20em/$fs);
}

.block-loan-plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-loan-plans-item {
  flex-basis: (235em/$fs);
  width: (235em/$fs);
  margin-top: (60em/$fs);
}

.block-loan-plans-text {
  text-align: center;
  background: rgba($white, .3);
  display: table-cell;
  height: (36em/$fs);
  line-height: 1em;
  padding: (8em/$fs);
  color: $black;
  width: (235em/$fs);
  vertical-align: middle;
}

.block-loan-plans-image-wrapper {
  position: relative;
  height: (200em/$fs);
  display: block;
}

.block-loan-plans-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.block-loan-plan-recibo {
  background: #FF038B;
}

.block-loan-plan-jubilados {
  background: #B4E217;
}

.block-loan-plan-monotributo {
  background: #00C6FF;
}

.block-loan-plan-resumen {
  background: #E70219;
}

.block-loan-plan-ama {
  background: #F5F10C;
}

.block-loan-plan-dni {
  background: #FF4E00;
}

.block-loan-plan-joven {
  background: #9000FB;
}

.block-loan-plan-medida {
  background: #FF8400;
}

.block-loans-steps-wrapper {
  $tfs: 32;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: (100em/$tfs);
  font-size: #{$tfs/$fs}em;
  height: (70em/$tfs);
  line-height: (70em/$tfs);
  counter-reset: steps;

  .block-loans-step {
    position: relative;
    z-index: 5;

    &:before {
      $bfs: 101;
      font-size: #{$bfs/$tfs}em;
      counter-increment: steps;
      content: counter(steps);
      height: 100%;
      width: 100%;
      color: $numbers;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      z-index: -1;
      font-weight: $bolder;
      font-family: "Open Sans";
    }
  }
}

.block-loans-steps-strong {
  color: $links;
}

.block-loan-plans-wrapper {
  background: $numbers;
  padding-bottom: (60em/$fs);
}

.block-loan-header {
  position: relative;
  padding-bottom: (200em/$fs);

  &:before {
    width: 0;
    height: 0;
    border: solid (30em/$fs);
    border-bottom-width: 0;
    border-color: $white rgba($white, 0) rgba($white, 0) rgba($white, 0);
    position: absolute;
    bottom: (-30em/$fs);
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
  }
}

.block-plans {
  display: flex;
  align-items: center;

  .block-loan-plans-item {
    margin: 0 3em 0 0;
  }
}

.block-plans-requeriments {
  flex-basis: auto;
  flex-grow: 2;
}

$tfs: 24;

.block-plans-requeriments-header,
.block-plans-requeriments-item,
.block-plans-requeriments-desc {
  font-size: #{$tfs/$fs};
}

.block-plans-requeriments-item,
.block-plans-requeriments-desc {
  text-transform: uppercase;
}

.block-plans-requeriments-header,
.block-plans-requeriments-desc {
  font-weight: $bolder;
}

.block-plans-requeriments-header,
.block-plans-requeriments-item {
  margin-bottom: (30em/$tfs);
}

.block-benefits-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .block-benefits-item {
    width: 50%;
    flex-basis: 50%;
  }

  .placeholder-wrapper {
    height: 0;
    padding-bottom: (590%/950*100);
    position: relative;
  }

  .block-benefits-item-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .block-benefits-increase {
    background: #26a12d;
  }

  .block-benefits-renew {
    background: #e00079;
  }

  .block-benefits-title {
    $tfs: 22;
    font-weight: $bolder;
    font-size: #{$tfs/$fs}em;
    margin-bottom: (70em/$tfs);
    text-transform: uppercase;
  }

  .block-benefits-desc {
    $tfs: 20;
    font-size: #{$tfs/$fs}em;
    line-height: (22em/$tfs);
  }

  .block-benefits-text {
    .block-benefits-item-content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-25%);
      width: (400em/$fs);
      top: 50%;
    }
  }
}

.block-offices {
  margin-top: (48em/$fs);
  padding-top: (96em/$fs);
  border-top: solid (1em/$fs) $borderLine;

  .block-header {
    margin-bottom: (96em/$fs);
  }
}

@media (max-width: (746em/$fs)) {
  .block-loan-plans {
    justify-content: space-around;

    .block-loan-plans-item {
      margin-top: (20em/$fs);
    }
  }
}

@media (max-width: (950em/$fs)) {
  .block-loan-header {
    padding-bottom: (96em/$fs);

    &:before {
      bottom: (-30em/$fs);
    }
  }

  .block-loan-plans-wrapper {
    padding-top: (40em/$fs);
  }

  .block-loans-steps-wrapper {
    $h: 80;
    line-height: 1em;
    height: auto;

    .block-loans-step {
      display: table;
      flex-basis: 100%;
      text-align: center;
      margin-top: (20em/32);

      &:first-child {
        margin: 0;
      }

      &:before {
        height: #{$h/$fs}rem;
        line-height: #{$h/$fs}rem;
      }
    }

    .table-cell {
      display: table-cell;
      width: 100%;
      height: (80rem/$fs);
      vertical-align: middle;
      line-height: 1em;
    }
  }
}

@media (max-width: (850em/$fs)) {
  .block-benefits-content {
    .block-benefits-item {
      width: 100%;
      flex-basis: 100%;
    }

    .block-benefits-title {
      margin-bottom: .5em;
    }

    .block-benefits-text {
      padding: (20em/$fs) 0;

      .placeholder-wrapper {
        height: auto;
        padding: 0;
      }

      .block-benefits-item-content {
        position: static;
        padding: 0 (20em/$fs);
        width: 100%;
        transform: none;
        box-sizing: border-box;
      }
    }
  }
}

@media (max-width: (670em/$fs)) {
  .block {
    .block-header-small {
      $tfs: 22;
      font-size: #{$tfs/$fs}em;
    }

    .block-header-big {
      $tfs: 40;
      font-size: #{$tfs/$fs}em;
    }
  }
}
