#footer {
  margin-top: (30em/$fs);
}

.footer-top {
  min-height: #{$footerMenu/$fs}em;
}

.footer-middle {
  height: (56em/$fs);
  position: relative;
  margin-top: (30em/$fs);

  .social-menu {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
  }
}

.footer-bottom {
  background: $footerBG;
  color: $white;
  text-align: center;
  border-top: solid #{$bottomLine/$fs}em $headerLine;
  margin-top: (10em/$fs);
  position: relative;

  .big-wrapper {
    position: relative;

    &:before {
      height: #{($bottomLine + .5)/$fs}em;
      content: "";
      width: (63em/$fs);
      background: url(../images/logo-deco.png);
      position: absolute;
      left: #{$sitePadding/$fs}em;
      top: #{-$bottomLine/$fs}em;
    }
  }
}

$tfs: 10;

.footer-legal {
  font-size: #{$tfs/$fs}em;
  padding-top: (30em/$tfs);
  padding-bottom: (45em/$tfs);
  font-family: "Open Sans", sans-serif;
  line-height: (16em/$tfs);
}

.qrcode {
  float: right;
  margin: 0 0 (10em/$tfs) (15em/$tfs);
  height: (50em/$tfs);
  background: $white;
  padding: (5em/$tfs);
}

.footer-best-loan {
  $tfs: 20;
  font-size: #{$tfs/$fs}em;
  position: relative;
  height: (56em/$tfs);
  line-height: (56em/$tfs);
  padding-left: (100em/$tfs);
  font-family: Roboto, sans-serif;
  font-weight: $bolder;
  color: $almostBlack;

  &:before {
    width: (63em/$tfs);
    height: 100%;
    background: url(../images/logo.png);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
  }
}

@media (max-width: (700em/$fs)) {
  .footer-middle .social-menu {
    top: 50%;
    right: #{$sitePadding/$fs}em;
    transform: translateY(-50%);
  }
}

@media (max-width: (380em/$fs)) {
  .footer-best-loan {
    @include notext();
  }
}

@media (max-width: (570em/$fs)) {
  .footer-menu {
    .footer-menu-item {
      flex-basis: 100%;
      text-align: center;
      line-height: 3em;
      height: auto;
    }

    .footer-menu-join-us .footer-menu-link {
      display: inline-block;
    }
  }
}