form,
label {
  width: 100%;
}

form {
  width: 100%;
  max-width: (900em/$fs);
  margin: 0 auto;
  position: relative;

  input,
  textarea,
  select {
    width: 100%;
    box-sizing: border-box;
    padding: 0 (20em/$fs);
    border: $formBorder solid (1em/$fs);
    border-radius: (3em/$fs);
    margin-top: (8em/$fs);
    font-size: 1em;
  }

  textarea {
    height: auto;
    resize: vertical;
    padding: (20em/$fs);
    line-height: (22em/$fs);
  }

  input,
  select {
    height: (52em/$fs);
    background: $white;
  }

  input {
    &[type = submit] {
      $tfs: 40;
      max-width: (500em/$tfs);
      width: 100%;
      margin: 0 auto;
      font-size: #{$tfs/$fs}em;
      border: none;
      background: $headerLine;
      color: $white;
      font-weight: $bold;
      text-align: center;
      height: (70em/$tfs);
      line-height: (70em/$tfs);
      padding: 0;
      text-transform: uppercase;
      border-radius: (3em/$tfs);
      display: block;
      appearance: none;
    }

    &[type = checkbox] {
      float: left;
      margin: 0 (5em/$fs) 0 0;
      width: auto;
      height: auto;
    }
  }

  .wpcf7-list-item {
    margin: 0;
  }

  p {
    margin-top: (25em/$fs);
  }

  label {
    color: $label;
    font-weight: $light;
  }
}

.form-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  p {
    flex-basis: 40%;
  }
}

form .wpcf7-mail-sent-ok {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $white;
  text-align: center;
  margin: 0;
  border: none;
  padding: 0;

  &:before {
    content: "";
    background: url(../images/dot.png);
    display: inline-block;
    width: (35em/$fs);
    height: (35em/$fs);
    position: relative;
    top: (11em/$fs);
    right: (5em/$fs);
  }
}

@media (max-width: (#{$menuBreak/$fs}em)) {
  form {
    input {
      &[type = submit] {
        font-size: (20em/$fs);
      }
    }
  }
}