#header {
  height: #{$header/$fs}em;
  background: $white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid #{$bottomLine/$fs}em $headerLine;
  z-index: 10;

  .home & {
    background: rgba($white, .5);
    will-change: background-color;
    transition: background-color 250ms $easing;
  }

  .is-fixed & {
    background-color: rgba($white, 1);
  }
}

.header-logo {
  width: (63em/$fs);
  height: (56em/$fs);
  background: url(../images/logo.png);
  display: block;
  position: absolute;
  top: 50%;
  left: #{$sitePadding/$fs}em;
  transform: translateY(-50%);
  will-change: left;
  transition: left $close $easing;
  @include notext();

  .expanded & {
    left: (96em/$fs);
    transition: left $open $easing;
  }
}

.header-logo-lines {
  position: relative;
  height: 100%;

  &:before {
    height: #{$bottomLine/$fs}em;
    content: "";
    width: (63em/$fs);
    background: url(../images/logo-deco.png);
    position: absolute;
    bottom: #{-$bottomLine/$fs}em;
    left: #{$sitePadding/$fs}em;
    will-change: left;
    transition: left $close $easing;

    .expanded & {
      left: (96em/$fs);
      transition: left $open $easing;
    }
  }
}

.menu-wrapper {
  will-change: right;
  right: (-250em/$fs);
  transition: right $close $easing;

  .expanded & {
    transition: right $open $easing;
  }
}

@media (min-width: (#{($menuBreak + 1)/$fs}em)) {
  #header {
    .social-menu {
      position: absolute;
      right: #{$sitePadding/$fs}em;
      top: 50%;
      transform: translateY(-50%);
    }

    .main-navigation {
      position: absolute;
      right: #{($sitePadding + 100)/$fs}em;
      top: 50%;
      transform: translateY(-50%);
    }

    svg {
      @include hide();
    }
  }
}

@media (max-width: (#{$menuBreak/$fs}em)) {
  #header {
    background: $white !important;

    .ico-menu-open,
    .ico-menu-close {
      position: absolute;
      right: #{$sitePadding/$fs}em;
    }

    .ico-menu-close {
      top: (26em/$fs);
    }

    .ico-menu-open {
      top: 50%;
      transform: translateY(-50%);
    }

    .social-menu {
      display: flex;
      margin-top: (10em/$fs);

      .social-menu-item {
        float: none;
        flex-basis: 50%;
        text-align: center;
        margin: 0;
      }

      .social-menu-link {
        display: inline-block;
        width: (21em/$fs);
      }
    }
  }

  .menu-wrapper {
    position: fixed;
    right: (-250em/$fs);
    top: 0;
    width: (250em/$fs);
    height: 100%;
    background: $white;
    padding-top: #{$header/$fs}em;
    box-sizing: border-box;

    .expanded & {
      right: 0;
    }
  }

  .header-menu {
    height: 100%;
    line-height: 1em;

    .header-menu-item {
      float: none;
      border-top: solid (1em/$fs) rgba($black, .3);
      margin: 0;

      &:first-child {
        border: none;
      }
    }

    .header-menu-link {
      padding: (10em/$fs) 0 (10em/$fs) (20em/$fs);
    }
  }

  body {
    padding-top: #{($header)/$fs}em !important;

    .expanded & {
      left: (-125em/$fs);
      transition: left $open $easing;
    }
  }

  .overlay {
    display: block;
  }
}