.social-menu {
  height: (21em/$fs);

  .social-menu-item {
    width: (21em/$fs);
    height: (21em/$fs);
    float: left;
    margin-left: (15em/$fs);

    &:first-child {
      margin: 0;
    }
  }

  .social-menu-link {
    display: block;
    width: 100%;
    height: 100%;
    @include notext();
  }

  .social-menu-facebook {
    background: url(../images/ico-fb.png);
  }

  .social-menu-instagram {
    background: url(../images/ico-in.png);
  }
}

.header-menu {
  height: (21em/$fs);
  line-height: (21em/$fs);

  .header-menu-item {
    float: left;
    margin-left: (15em/$fs);

    &:first-child {
      margin: 0;
    }
  }

  .header-menu-link {
    display: block;
    width: 100%;
    height: 100%;
    color: $black;
    text-transform: uppercase;
    font-weight: $light;
  }
}

.footer-menu {
  min-height: #{$footerMenu/$fs}em;
  line-height: (167em/$fs);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;

  .footer-menu-item {
    flex-basis: auto;
    padding: 0 1em;
    height: (123em/$fs);
    overflow: hidden;
  }

  .footer-menu-link {
    display: block;
    width: 100%;
    height: 100%;
    color: $black;
    text-transform: uppercase;
    font-weight: $light;
  }

  .footer-menu-join-us {
    .footer-menu-link {
      background: url(../images/adheri-comercio.png);
      height: (123em/$fs);
      width: (169em/$fs);
      @include notext();
    }
  }
}