.logo-big {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  width: (1500%/1920*100);
}

.static-info {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 13%;
  font-size: (75em/$fs);
  text-transform: uppercase;
}